<!DOCTYPE html>
<head>
  {% load static %}
  <title>YiP!</title>
  <link
    rel="shortcut icon"
    type="image/png"
    href="{% static 'favicon.ico' %}"
  />
  <link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous"
  />
</head>
<body>
  <div class="container text-center">
    <p>Your account has been confirmed.</p>
  </div>
  <script src="{% static 'index-bundle.js' %}"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
    crossorigin="anonymous"
  ></script>
</body>
